.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* changes made by deepak */
.form-group {
  padding-left: 20%;
  padding-right: 20%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.row,
.box {
  background-color: #333945;
  border-radius: 0.35rem;
}

.BODY {
  margin: 0;
  padding: 0;
  background-color: #18162d;
}

.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loading-bar {
  width: 50%;
  height: 20px;
  background-color: #ebebeb;
  border-radius: 10px;
  position: relative;
  margin-bottom: 10px;
}

.loading-bar::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: orange;
  border-radius: 10px;
  animation: progress 2s linear infinite;
}

.loading-text {
  font-size: 24px;
  font-weight: bold;
  color: #f7f7f7;
}

@keyframes progress {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}